@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* primary colors */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* neutral colors */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: Black: hsl(0, 0%, 7%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}

.testimonials {
    max-width: 1120px;
    margin: 30px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* common card styles */

.card {
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-header h3 {
    font-size: 13px;
}

.card-header p {
    font-size: 11px;
}

.card-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.card-lead {
    font-size: 1.21rem;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 20px;
}

.card-quote {
    line-height: 1.4;
}

/* individual card styles */

.card-purple {
    background: var(--purple-500);
    background-image: url('/img/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top 0 right 70px;

    grid-column: 1 / 3;
}

.card-purple img {
    border: 2px solid var(--purple-300);
}

.card-purple header,
.card-purple .card-quote {
    color: var(--grey-100);
}

.card-purple .card-lead {
    color: var(--white)
}

.card-grey {
    background: var(--grey-500);
}

.card-grey img {
    border: 2px solid var(--grey-400);
}

.card-grey header,
.card-grey .card-quote {
    color: var(--grey-100);
}

.card-grey .card-lead {
    color: var(--white)
}

.card-darkgrey {
    background: var(--dark-blue);
    color: var(--grey-200);

    grid-column: 2 / 4;
    grid-row: 2;
}

.card-darkgrey img {
    border: 2px solid var(--purple-500);
}

.card-white-stretched {
    grid-column: 4;
    grid-row: 1 / 3;
}

.card-white {
    color: var(--grey-400);
}

.card-white .card-lead {
    color: var(--grey-500);
}

.card-white img {
    border: 2px solid var(--grey-200);
}

footer {
    text-align: center;
}

/* media queries */
@media(max-width: 768px) {
    .testimonials {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .card-purple {
        grid-column: 1;
    }

    .card-darkgrey {
        grid-column: 1;
        grid-row: 4;
    }

    .card-white-stretched {
        grid-column: 1;
        grid-row: 5;
    }
}